.page-content {
    padding: $page-padding;
    padding-top: $page-padding * 1.25;

    @include down(tablet) {
        padding: 35px;
        padding-top: 35px * 1.5;
    }
}

@each $pos in ( left, right, top, bottom ) {
    .page-padding--#{$pos} {
        padding-#{$pos}: $page-padding;

        @include down(tablet) {
            padding-#{$pos}: 35px;
        }
    }
}