@import "variables";
@import "mixins";

// only for home page
/* body {
position: fixed;
top: 0px;
left: 0px;
overflow: hidden;
} */

/* LOGO CLASSES */
// .logo {
//     width: 20px;
//     height: 10px;
// }


/* CLASSES FOR SPAN ANIMATION */
// .hover-link-span {
//     display: inline-block;
//     font-weight: inherit;
// }

// .hover-link-space {
//     width: 5px;
// }

// .black-arrow polyline {
//     transition: all 0.25s ease-in-out;

//     stroke: $ {
//         variables.colors.main
//     }

//      !important;
// }