.home {
    display: flex;

    .home__title {
        display: flex;
        justify-content: flex-end;
        width: 50%;

        @include down(tablet) {
            display: none;
        }
    }

    .home__content {
        margin-top: calc(50vh - #{$page-padding});
        width: 50%;

        @include down(tablet) {
            @include margin(2, top);

            width: 100%;
        }
    }
}

.home__head {
    @include font-size(8);

    display: block;
    line-height: line-height(min);
    font-weight: font-weight(medium);
    text-orientation: sideways;
    writing-mode: vertical-rl;
    margin-right: 2.5vw;
    height: min-content;

    span {
        display: block;
        white-space: nowrap;
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;
        height: min-content;

        &:first-child {
            padding-left: 2.5vw;
        }
    } 
}


.home__text, .home__link-block {
    @include margin(2, top);

    h6 {
        @include margin(1, bottom);
        font-weight: font-weight(medium);
    } 

    p {
        @include font-size(2);
    }
} 

.home__abstract {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;

    > div {
        position: relative;
        width: 100%;
        height: 100%;

        @include down(tablet) {
            width: 100%;
        }
    }
}