.home {
    display: flex;

    .home__left {
        position: relative;
        display: flex;
        justify-content: center;
        align-content: center;
        width: 50%;
    }

    .home__right {
        // fix for mobile
        margin-top: calc( 50vh - (#{ $page-padding } * 2 ));
        width: 50%;
    }
}

.home__head {
    position: relative;
    width: min-content;
    height: 100%;

    h1 {
        position: absolute;
        display: block;
        line-height: line-height(min);
        font-weight: font-weight(medium);
        transform-origin: 0 0;
        transform: rotate(90deg) translate3d(0,-100%,0);
    
        span {
            display: block;
            white-space: nowrap;
            font-size: inherit;
            font-weight: inherit;
            line-height: inherit;
    
            &:first-child {
                @include padding(4, bottom);
            }
    
            &:last-child {
                margin-left: calc( 50vh - (#{ $page-padding } * 2 ));
            }
        } 
    }

}

.home__text, .home__contact, .home__social {
    h6 {
        @include margin(1, bottom);
        font-weight: font-weight(medium);
    } 
    
    p {
        @include font-size(2);
    }
} 

.home__contact {
    @include margin(8, top);
}

.home__social {
    @include margin(2, top);
}

.home__abstract {
    @include margin(8, bottom);
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    > div {
        position: relative;
        width: 100%;
        height: 100%;

        @include down(tablet) {
            width: 100%;
        }
    }
}
