.home {
    display: flex;

    .home__title {
        display: flex;
        justify-content: flex-end;
        width: 50%;

        @include down(tablet) {
            display: none;
        }
    }

    .home__content {
        // fix for mobile
        margin-top: 25vw;
        width: 50%;

        @include down(tablet) {
            @include margin(4, top);

            width: 100%;
        }
    }
}

.home__head {
    display: block;
    font-size: 16vw;
    line-height: line-height(min);
    font-weight: font-weight(medium);
    text-orientation: sideways;
    writing-mode: vertical-rl;
    margin-right: 2.5vw;

    span {
        display: block;
        white-space: nowrap;
        font-size: inherit;
        font-weight: inherit;
        line-height: inherit;

        &:first-child {
            padding-left: 2.5vw;
        }

        &:last-child {
            margin-top: 25vw;
        }
    } 
}


.home__text, .home__contact, .home__social {
    h6 {
        @include margin(1, bottom);
        font-weight: font-weight(medium);
    } 
    
    p {
        @include font-size(2);
    }
} 

.home__contact {
    @include margin(8, top);

    @include down(tablet) {
        @include margin(4, top);
    }
}

.home__social {
    @include margin(2, top);
}

.home__abstract {
    @include margin(8, bottom);

    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include down(tablet) {
        @include margin(4, bottom);
    }

    > div {
        position: relative;
        width: 100%;
        height: 100%;

        @include down(tablet) {
            width: 100%;
        }
    }
}
