:global {
    .clickable {
        pointer-events: all;
    }

    .unclickable {
        pointer-events: none;
    }

    .block {
        display: block;
    }

    .relative {
        position: relative;
    }

    .flex {
        display: flex;
    }

    .row {
        flex-direction: row;
    }

    .column {
        flex-direction: column;
    }

    .center {
        align-items: center;
        justify-content: center;
    }

    .space-around {
        justify-content: space-around;
    }

    .space-between {
        justify-content: space-between;
    }

    .spectral {
        font-family: 'Spectral';
    }
}