// color scheme
$color-primary: #F2F2F2;
$color-secundary: #060606;

// fonts
$font-family-primary: -apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
"Noto Sans",
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji";
$font-family-secundary: "Spectral";

$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-light: 300;

// font sizes
$font-base: 16px;
$line-height: 1.2;

$font-size-text-large: 0.925rem;
$font-size-text-medium: 0.8rem;
$font-size-text-small: 0.75rem;

$font-size-title-large: 4rem;
$font-size-title-medium: 3.5rem;
$font-size-title-small: 2.25rem;

$margin-large: 2.5rem;
$margin-medium: 1.75rem;
$margin-small: 1rem;

$padding-large: 1.25rem;
$padding-medium: 1rem;
$padding-small: 0.5rem;

$spacing-layout-xl: 7.5vw;
$spacing-layout-md: 50px;
$spacing-layout-xs: 37.5px;

$media-breakpoint-xl: 1280px;
$media-breakpoint-md: 1024px;
$media-breakpoint-xs: 620px;

$cursor-size: 25px;