.container {
    position: relative;
}

.trigger {
    position: absolute;
    border-radius: 100%;
    cursor: pointer;
}

.content {
    text-transform: lowercase;
    display: block;
    transform-origin: center;
    height: min-content;
    width: min-content;
}