$color-primary: #F2F2F2;
$color-secundary: #060606;

// fonts
$font-family-primary: -apple-system,
BlinkMacSystemFont,
"Segoe UI",
Roboto,
"Helvetica Neue",
Arial,
"Noto Sans",
sans-serif,
"Apple Color Emoji",
"Segoe UI Emoji",
"Segoe UI Symbol",
"Noto Color Emoji";
$font-family-secundary: "Spectral";

$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;

$font-base: 16px;
$line-height: 1.2;

$xl: 1280px;
$md: 1024px;
$xs: 620px;

$cursor-size: 25px;