$cookie-notice-background: #000;
$cookie-notice-base: #dddddd;
$cookie-notice-highlight: #fff;


.cookie-notice {
    @include padding(2);

    position: fixed;
    width: 100vw;
    min-width: 280px;
    right: auto;
    bottom: 0;
    font-family: monospace;
    overflow-y: scroll;
    background-color: $cookie-notice-background;
    z-index: z(foreground);

    p, a, span {
        text-decoration-color: $cookie-notice-base !important;
        color: $cookie-notice-base !important;
    }

    a {
        text-decoration: underline;

        &:hover {
            color: $cookie-notice-highlight !important;
        }
    }

    @include up(phablet) {
        right: 0;
        width: 400px;
    }
}

.cookie-notice__content {
    @include up(tablet) {
        @include margin(1, bottom);
    }
}

.cookie-notice__console {
    position: relative;

    @include down(tablet) {
        display: none;
    }
}

.cookie-notice__choice-links {
    display: flex;

    > a {
        color: $cookie-notice-base;

        &:first-child {
            @include margin(1, right);
        }

        &:hover > span {
            text-decoration: underline;
        }
    }
}

.cookie-notice__cmd {
    position: absolute;
    left: 60px;
    color: $cookie-notice-base;
}

.cookie-notice__cursor {
    display: block;
    width: 8px;
    height: 17px;
    position: absolute;
    top: 0;
    background-color: $cookie-notice-highlight;
}

.cookie-notice__cursor--active::after {
    animation: blink 1s linear 0s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    
    50% {
        opacity: 1;
    }

    51% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.cookie-notice__input {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;
}