$legal-notice-background: #000;
$legal-notice-base: #cccccc;
$legal-notice-highlight: #fff;


.legal-notice {
    @include padding(2);

    position: fixed;
    width: 100vw;
    min-width: 280px;
    right: auto;
    bottom: 0;
    font-family: monospace;
    overflow-y: scroll;
    background-color: $legal-notice-background;
    z-index: z(foreground);

    p, a, span {
        text-decoration-color: $legal-notice-base !important;
        color: $legal-notice-base !important;
    }

    a {
        text-decoration: underline;

        &:hover {
            color: $legal-notice-highlight !important;
        }
    }

    @include up(phablet) {
        right: 0;
        width: 400px;
    }
}

.legal-notice__choice-links {
    display: flex;
    cursor: pointer;

    > a {
        color: $legal-notice-base;

        &:first-child {
            @include margin(1, right);
        }

        &:hover > span {
            text-decoration: underline;
        }
    }
}